<% 
if (data.type == "date" && data.value){
    data.value = moment(data.value).format("YYYY-MM-DD")
}

if (!data.classes){
    data.classes = "";
} 
%>

<div class="form-group <%= data.classes %>">
    <% if (data.label) { %>
    <label for="<%= data.name %>"><%= data.label %></label>
    <% } %>
    <input type="<%= data.type %>" class="form-control" id="<%= data.name %>" name="<%= data.name %>"
        value="<%= data.value %>">
</div>