<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head-base", {
        title:"Bienvenidos a MercadoLiebre"
    }) %>
</head>

<body>
    <%- include("partials/header") %>

    <section class="banner">
        <img class="width-100" src="/images/img-home-banner.jpg" alt="Banner de ofertas">
    </section>
    <main class="container">
        <section>
            <h3 class="font-size-4 margin-y-20">Basado en tu última visita</h3>
            <div class="product-container">
                <% products.forEach((product,i)=>{%>
                <%- include("/partials/product", {product: product}) %>
                <%}) %>
            </div>
        </section>
        <section>
            <h3 class="font-size-4 margin-y-20">Ofertas</h3>
            <div class="product-container">
                <% for( let i = 0; i < products.length; i++ ) { %>
                <%- include("/partials/product",{product:products[i]}) %>
                <% } %>
            </div>
            <%= saludo() %>
        </section>
    </main>
    <%- include("/partials/footer") %>
</body>

</html>