<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/head-base", {
        title:"Bienvenidos a MercadoLiebre"
    }) %>
</head>

<body>
    <%- include("../partials/header") %>

    <main class="container">
        <h2 class="padding-y-20 color-muted">Detalle del producto: <%= product.name %> </h2>

        <article class="background-light flex product-article">
            <div class="product-img">
                <img src="/images/<%= product.image %>">
            </div>
            <div class="product-details">
                <h1 class="product-title font-size-6"><%= product.name %></h1>
                <p class="product-price-discount font-size-3 color-secondary">
                    <span class="strike-through">$ <%= toThousand(product.price) %></span> / <%= product.discount %>%
                    OFF
                </p>
                <p class="product-price font-size-7">$
                    <%= toThousand(product.price - (product.price*(product.discount/100))) %></p>
            </div>
        </article>

    </main>
    <%- include("../partials/footer") %>
</body>

</html>